<div class="main">

</div>

<div class="info-prompt">
</div>

<div class="info-prompt-box">
  <div class="prompt-head">
    <span class="fl">系统温馨提示</span>
    <i class="fr">x</i>
  </div>
  <p>已达最大加床数</p>
  <div class="max-bed-num-confirm">
    <button>确定</button>
  </div>
</div>
