<div class="main">
  <div class="page-head">
    <div class="jl-logo"></div>
    <div class="user-options">
      <ul>
        <li>捷旅假期，您好</li>
        <li class="sign-out">退出</li>
        <li>帮助中心</li>
        <li>|</li>
        <li class="hot-line">755-33397777</li>
      </ul>
    </div>
  </div>
  <div class="page-content clearfix">
    <div class="content-head">
      <ul>
        <li>1.填写信息</li>
        <li></li>
        <li>2.确认支付</li>
        <li></li>
        <li>3.预订成功</li>
      </ul>
    </div>
    <div class="order-content">
      <div class="content-left">
        <ul>
          <li>
            <span>预订信息</span>
            <div class="order-msg">
              <ul>
                <li>入离时间:</li>
                <li class="start-date">2017-08-02</li>
                <li>至</li>
                <li class="end-date">2017-08-05</li>
                <li class="day-count">3晚</li>
                <li class="change-date">修改日期:</li>
              </ul>
              <ul>
                <li>房间数量:</li>
                <li>
                  <button>-</button>
                  <b>2</b>
                  <button>+</button>
                </li>
                <li class="order-room-max">最多可预订7间（该房型每间最多入住2人）</li>
              </ul>
            </div>
          </li>
          <li>
            <span>加早信息</span>
            <div class="other-msg">
              <ul>
                <li>成人早￥100/份</li>
                <li>儿童早￥80/份</li>
                <li class="open-detail-msg">+</li>
              </ul>
            </div>
          </li>
          <li>
            <span>加床信息</span>
            <div class="other-msg">
              <ul>
                <li>成人床￥200/张</li>
                <li>儿童床￥100/张</li>
                <li class="open-detail-msg">+</li>
              </ul>
            </div>
          </li>
          <li>
            <span>加宽带</span>
            <div class="other-msg">
              <ul>
                <li>20/间/晚</li>
                <li class="open-detail-msg">+</li>
              </ul>
            </div>
          </li>
          <li>
            <span>入住信息</span>
            <div class="stay-msg">
              <div class="guest">
                <p class="guest-order">住客1:</p>
                <p>姓名（英文/拼音)</p>
                <input type="text" placeholder="必填">
                <p>护照国籍</p>
                <input type="text" placeholder="必填">
              </div>
              <div class="guest">
                <p class="guest-order">住客2:</p>
                <p>姓名（英文/拼音)</p>
                <input type="text" placeholder="必填">
                <p>护照国籍</p>
                <input type="text" placeholder="必填">
              </div>
            </div>
          </li>
          <li>
            <span>个性化要求</span>
            <div class="personal-requirement">
              <div class="personal-content">
                <p>请直接勾选喜好与要求，是否可满足以酒店确认为准</p>
                <label><input type="checkbox" value="立即到店">立即到店</label>
                <label><input type="checkbox" value="原房续住">原房续住</label>
                <label><input type="checkbox" value="安静房间">安静房间</label>
                <label><input type="checkbox" value="吸烟楼层">吸烟楼层</label>
                <label><input type="checkbox" value="连通房间">连通房间</label>
                <label><input type="checkbox" value="相同楼层">相同楼层</label>
                <label><input type="checkbox" value="尽量有窗">尽量有窗</label>
                <label><input type="checkbox" value="尽量无烟楼层">尽量无烟楼层</label>
                <label><input type="checkbox" value="尽量相邻房间">尽量相邻房间</label>
                <label><input type="checkbox" value="尽量高层楼房">尽量高层楼房</label>
                <label><input type="checkbox" value="残疾设施房间">残疾设施房间</label>
                <label><input type="checkbox" value="尽量大床房">尽量大床房</label>
                <label><input type="checkbox" value="尽量双床房">尽量双床房</label>
                <p class="personal-special">请直接勾选您的要求，我们会及时通知酒店并尽量协助安排，但要视酒店情况，不能确保满足</p>
              </div>
            </div>
          </li>
          <li>
            <span>确认方式</span>
            <div class="confirm-way">
              <div class="confirm-select">
                <label><input type="radio" value="在线确认">在线确认</label>
                <label><input type="radio" value="电子邮件确认">电子邮件确认</label>
                <label><input type="radio" value="传真确认">传真确认</label>
                <label><input type="radio" value="短信确认">短信确认</label>
                <ul>
                  <li>
                    <span>Email</span>
                    <input type="text" placeholder="邮箱">
                  </li>
                  <li>
                    <span>传真</span>
                    <input type="text" placeholder="传真号码">
                  </li>
                  <li>
                    <span>手机</span>
                    <input type="text" placeholder="手机号码"></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <span>结算信息</span>
            <div class="balance-msg">
              <ul>
                <li>
                  <span>客户订单号</span>
                  <input type="text">
                </li>
                <li>
                  <span>结算方式</span>
                  <select name="balance-way" id="balance-way">
                    <option value="0">单结</option>
                  </select>
                </li>
                <li>
                  <span>使用预收款</span>
                  <input type="text">
                </li>
                <li>
                  <span>剩余预收款</span>
                  <p>RMB <b>9999817.9</b> 元</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <span>温馨提示</span>
            <div class="kindly-tips">
              <ul>
                <li>
                  <p class="kindly-tips1">取消条款</p>
                  <p class="kindly-tips2">2017年7月24日18点后 不可修改或取消，罚金为首晚</p>
                </li>
                <li>
                  <p class="kindly-tips1">入住离店时间</p>
                  <p class="kindly-tips2">酒店入住时间最早为14:00, 入住最晚时间为24:00</p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-right">
        <div class="hotel-msg-top">
          <h5 class="hotel-name">测试酒店</h5>
          <div class="hotel-logo"></div>
          <div class="hotel-msg-right">
            <div class="hotel-name-English">jlithai</div>
            <div class="hotel-name-Chinese">捷旅i海外测试酒店</div>
          </div>
          <p>经济房[两份早餐]</p>
          <ul>
            <li>入住日期
              <i>2017-08-16</i>
            </li>
            <li>退房日期
              <i>2017-08-17</i>
            </li>
          </ul>
        </div>
        <div class="hotel-msg-bot">
          <span class="need-to-pay">需支付</span>
          <ul>
            <li>
              <p class="fl">房费</p>
              <p class="fr">120</p>
            </li>
            <li>
              <p class="fl">税和服务费</p>
              <p class="fr">0</p>
            </li>
            <li>
              <span class="fl">总价</span>
              <p class="fr total-pay">120</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="payment-confirm">下一步，支付</div>
</div>
