<div class="main">

</div>

<div class="info-prompt" data-jquery-dialog-button-for="dialog-confirm">
</div>

<div class="info-prompt-box" id="dialog-confirm">
	<div class="prompt-head">
		<span class="fl">系统温馨提示</span>
		<i class="fr close-confirm">x</i>
	</div>
	<p class="prompt-content">已达最大加床数</p>
	<div class="max-bed-num-confirm">
		<button>确定</button>
	</div>
</div>



