<div class="fzg-logo">
    <img src="<%= venderConfig.img.fzg_logo %>" alt="logo">
</div>
<div class="main-wrap">
    <img src="<%= venderConfig.img.login_bg %>" class="login-bg" width="1600" alt="背景图">

    <div class="login-dialog">
        <div class="login-title">
            <div class="login-text">会员登录</div>
            <div class="login-reg">注册新账号</div>
        </div>
        <div class="login-row">
            <div class="login-row-icon">
                <i class="iconfont icon-baofang"></i>
            </div>
            <div class="login-row-input">
                <input type="text" placeholder="公司账号">
            </div>
        </div>
        <div class="login-row">
            <div class="login-row-icon">
                <i class="iconfont icon-user2"></i>
            </div>
            <div class="login-row-input">
                <input type="text" placeholder="用户名">
            </div>
        </div>
        <div class="login-row">
            <div class="login-row-icon">
                <i class="iconfont icon-password2"></i>
            </div>
            <div class="login-row-input">
                <input type="password" placeholder="密码">
            </div>
        </div>
        <div class="login-bline">
            <div class="login-auto">
                <label for="login_auto"><input type="checkbox" id="login_auto">2个月内自动登录</label>
            </div>
            <div class="forget-pw">忘记密码？</div>
        </div>
        <div class="login-submit">登录</div>
    </div>
</div>

<div class="bottom-text"><span>【温馨提示】</span>各位同行好，由于我司产品是不允许放在各大团购网站上售卖的，如果被检测到是团购网站上来源的订单，我司将终止与贵司的合作，并将索取赔付不低于2晚的房费。请各位同行知悉配合，谢谢！</div>