
@import "./base.scss";
@import "./sprites.scss";

//覆盖图片轮播分页按钮的样式
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 1180px - 700px;
    margin: -30px auto 0;
    padding-left: 700px;
    position: relative;
}

.banner-wrap{
    overflow: hidden;

    @at-root .swiper-container {
        height: 376px;
    }
}

.search-wrap{
    position: relative;
    width: 1180px;
    height: 376px;
    margin: -376px auto 0;

    //搜索框
    @at-root .search-box{
        position: absolute;
        margin: 40px 0;
        width: 590px;
        height: 296px;
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;

        //搜索框左边的tab，酒店、门票、手机版的切换
        @at-root .s-tab{
            width: 110px;
            height: 296px;
            background: #F3F3F3;
            float: left;
            overflow: hidden;

            li{
                background: #F3F3F3;
                border-right: 1px solid #E2E2E2;
                overflow: hidden;
                *vertical-align: top;
                
                .sprites{
                    @include sprites;
                    margin-top: 1px;

                    &.sp-jiudian{
                        @include jiudian1;
                    }
                    &.sp-menpiao{
                        @include menpiao1;
                    }
                    &.sp-shoujiban{
                        @include shouji1;
                    }
                }

                &.s-tab-item{
                    font-size: 15px;
                    color: $gray-3;
                    padding: 20px;
                    border-bottom: 1px solid #E2E2E2;
                    cursor: pointer;

                    &.current, &:hover{
                        color: $baseBlue;
                        background: white;
                        border-right: none;

                        .sp-jiudian{
                            @include jiudian2;
                        }
                        .sp-menpiao{
                            @include menpiao2;
                        }
                        .sp-shoujiban{
                            @include shouji2;
                        }
                    }
                }

                >div{
                    float: left;
                    *zoom: 1;
                }
                
                .s-tab-text{
                    min-width: 45px;
                    height: 19px;
                }

                .sprites{
                    margin-right: 6px;
                }

                // 占位li，只为展示一个右边框
                &.p-h{
                    height: 120px;
                }
            }                
        }    

        //搜索框右边的搜索内容编辑框
        @at-root .s-box-wrap{
            display: inline-block;
            width: 480px;
            height: 296px;
            overflow: hidden;

            @at-root .s-box{
                height: 296px;
                color: $gray-3;
                font-size: 15px;
                display: none;

                &.current{
                    display: block;
                }

                @at-root .sbox-hotel{
                    height: 100px;
                    margin: 20px 30px 0;

                    @at-root .sbox-hotel-tab{
                        overflow: hidden;

                        .s-h-item{
                            position: relative;
                            border-bottom: 3px solid #aaa;
                            float: left;
                            padding: 0 15px 8px;
                            cursor: pointer;
                            *zoom: 1;

                            i{
                                display: none;
                                position: absolute;
                                left: 50%;
                                margin-left: -6px;
                                bottom: 0;
                                width: 0;
                                height: 0;
                                overflow: hidden;
                                line-height: 0;
                                font-size: 0;
                                vertical-align: middle;
                                border-bottom: 6px solid #33A6FF;
                                border-top: 0 none;
                                border-left: 6px solid transparent;
                                border-right: 6px solid transparent;
                            }

                            &.current{
                                color: $baseBlue;
                                border-bottom: 3px solid $baseBlue;

                                i{
                                    display: block;
                                }
                            }

                            &:hover{
                                color: $baseBlue;
                            }

                        }
                        .s-h-holder{
                            color: white;
                            width: 210px;
                            border-bottom: 3px solid #aaa;
                            float: left;
                            padding: 0 15px 8px;
                            *zoom: 1;
                        }
                    }

                    @at-root .sbox-hotel-item{
                        margin-top: 16px;
                        overflow: hidden;

                        >div{
                            float: left;
                            *zoom: 1;
                        }
                        @at-root .s-h-i-title{
                            width: 60px;
                            height: 35px;
                            line-height: 35px;
                            color: $gray-6;
                            text-align: right;
                            margin-right: 10px;
                        }

                        @at-root .s-h-i-input{
                            width: 350px;
                            width: calc(100% - 70px);

                            input{
                                padding-left: 6px;
                                height: 33px;
                                width: 342px;
                                line-height: 2.2\9;
                                border-radius: 5px;
                                border: 1px solid $gray-9;
                            }
                        }

                    }

                }
            }
        
        }
    }
}
