
@import "./base.scss";
@import "./sprites.scss";

//覆盖图片轮播分页按钮的样式
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 1180px - 700px;
    margin: -30px auto 0;
    padding-left: 700px;
    position: relative;
}

.banner-wrap{
    overflow: hidden;

    @at-root .swiper-container {
        height: 376px;
    }
}

.search-wrap{
    position: relative;
    width: 1180px;
    height: 376px;
    margin: -376px auto 0;

    @at-root .search-box{
        position: absolute;
        margin: 40px 0;
        width: 590px;
        height: 296px;
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
}