
@import "./base.scss";
@import "./sprites.scss";

//覆盖图片轮播分页按钮的样式
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 1180px - 700px;
    margin: -30px auto 0;
    padding-left: 700px;
    position: relative;
}

.banner-wrap{
    overflow: hidden;

    @at-root .swiper-container {
        height: 376px;
    }
}

.search-wrap{
    position: relative;
    width: 1180px;
    height: 376px;
    margin: -376px auto 0;

    //搜索框
    @at-root .search-box{
        position: absolute;
        margin: 40px 0;
        width: 590px;
        height: 296px;
        background: white;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;

        //搜索框左边的tab，酒店、门票、手机版的切换
        @at-root .s-tab{
            width: 110px;
            height: 296px;
            background: #F3F3F3;
            float: left;
            overflow: hidden;

            li{
                background: #F3F3F3;
                border-right: 1px solid #E2E2E2;
                overflow: hidden;
                *vertical-align: top;
                
                .sprites{
                    @include sprites;
                    margin-top: 1px;

                    &.sp-jiudian{
                        @include jiudian1;
                    }
                    &.sp-menpiao{
                        @include menpiao1;
                    }
                    &.sp-shoujiban{
                        @include shouji1;
                    }
                }

                &.s-tab-item{
                    font-size: 15px;
                    color: $gray-3;
                    padding: 20px;
                    border-bottom: 1px solid #E2E2E2;
                    cursor: pointer;

                    &.current, &:hover{
                        color: $baseBlue;
                        background: white;
                        border-right: none;

                        .sp-jiudian{
                            @include jiudian2;
                        }
                        .sp-menpiao{
                            @include menpiao2;
                        }
                        .sp-shoujiban{
                            @include shouji2;
                        }
                    }
                }

                >div{
                    float: left;
                    *zoom: 1;
                }
                
                .s-tab-text{
                    min-width: 45px;
                    height: 19px;
                }

                .sprites{
                    margin-right: 6px;
                }

                // 占位li，只为展示一个右边框
                &.p-h{
                    height: 120px;
                }
            }                
        }    

        //搜索框右边的搜索内容编辑框
        @at-root .s-box-wrap{
            display: inline-block;
            width: 480px;
            height: 296px;
            background: red;
        }
    }
}
