@mixin sprites{background:url(../../static/sprites/sprites.png) no-repeat; }
@mixin gengduo{height:12px;width:7px;background-position: 0 0;}
@mixin gengduo2{height:12px;width:7px;background-position: -7px 0;}
@mixin honghua{height:14px;width:14px;background-position: -14px 0;}
@mixin rili{height:16px;width:15px;background-position: -28px 0;}
@mixin gongsizhanghao{height:16px;width:16px;background-position: -43px 0;}
@mixin mima{height:16px;width:16px;background-position: -59px 0;}
@mixin sousuo{height:17px;width:16px;background-position: -75px 0;}
@mixin yonghuming{height:16px;width:16px;background-position: -91px 0;}
@mixin menpiao2{height:18px;width:18px;background-position: -107px 0;}
@mixin shouji1{height:18px;width:18px;background-position: -125px 0;}
@mixin shouji2{height:18px;width:18px;background-position: -143px 0;}
@mixin jiudian1{height:18px;width:18px;background-position: -161px 0;}
@mixin jiudian2{height:18px;width:18px;background-position: -179px 0;}
@mixin menpiao1{height:18px;width:18px;background-position: -197px 0;}
@mixin weixinban{height:43px;width:43px;background-position: -215px 0;}
@mixin weixinban2{height:43px;width:43px;background-position: -258px 0;}
@mixin dianhua2{height:43px;width:43px;background-position: -301px 0;}
@mixin dianhua{height:43px;width:43px;background-position: -344px 0;}
@mixin erweima{height:83px;width:83px;background-position: -387px 0;}
@mixin fzg_logo{height:43px;width:269px;background-position: -470px 0;}
