@mixin sprites{background:url(../static/sprites/sprites.png) no-repeat; }
@mixin gengduo{height:12px;width:7px;background-position: 0 0;}
@mixin honghua{height:14px;width:14px;background-position: -7px 0;}
@mixin rili{height:16px;width:15px;background-position: -21px 0;}
@mixin mima{height:16px;width:16px;background-position: -36px 0;}
@mixin gongsizhanghao{height:16px;width:16px;background-position: -52px 0;}
@mixin sousuo{height:17px;width:16px;background-position: -68px 0;}
@mixin yonghuming{height:16px;width:16px;background-position: -84px 0;}
@mixin shouji2{height:18px;width:18px;background-position: -100px 0;}
@mixin shouji1{height:18px;width:18px;background-position: -118px 0;}
@mixin menpiao2{height:18px;width:18px;background-position: -136px 0;}
@mixin jiudian1{height:18px;width:18px;background-position: -154px 0;}
@mixin jiudian2{height:18px;width:18px;background-position: -172px 0;}
@mixin menpiao1{height:18px;width:18px;background-position: -190px 0;}
@mixin weixinban{height:43px;width:43px;background-position: -208px 0;}
@mixin dianhua{height:43px;width:43px;background-position: -251px 0;}
@mixin erweima{height:83px;width:83px;background-position: -294px 0;}
@mixin fzg_logo{height:43px;width:269px;background-position: -377px 0;}
