
<!--该文件为首页banner轮播图区域（不包含浮在它上面的搜索框）-->
<div class="banner-wrap">
    <!-- banner轮播区域 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="javascript:void;"><img alt="" src="<%= staticConfig.img.tmp_banner %>"></a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void;"><img alt="" src="<%= staticConfig.img.tmp_banner %>"></a>
            </div>
            <div class="swiper-slide">
                <a href="javascript:void;"><img alt="" src="<%= staticConfig.img.tmp_banner %>"></a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>