<div class="main">
		<div class="page-head">
			<div class="jl-logo"></div>
			<div class="user-options">
			<ul>
				<li>捷旅假期，您好</li>
				<li class="sign-out">退出</li>
				<li>帮助中心</li>
				<li>|</li>
				<li class="hot-line">755-33397777</li>
			</ul>
			</div>
		</div>
		<div class="page-content">
			<div class="content-head">
				<ul>
					<li>1.填写信息</li>
					<li></li>
					<li>2.确认支付</li>
					<li></li>
					<li>3.预订成功</li>
				</ul>
			</div>
			<div class="order-content">
				<div class="content-left">
					<ul>
						<li>
							<span>预订信息</span>
							<div class="order-msg">
								<ul>
									<li>入离时间:</li>
									<li class="start-date">2017-08-02</li>
									<li>至</li>
									<li class="end-date">2017-08-05</li>
									<li class="day-count">3晚</li>
									<li class="change-date">修改日期:</li>
								</ul>
								<ul>
									<li>房间数量:</li>
									<li>
										<button>-</button>
										<b>2</b>
										<button>+</button>
									</li>
									<li class="order-room-max">最多可预订7间（该房型每间最多入住2人）</li>
								</ul>
							</div>
						</li>
						<li>
							<span>加早信息</span>
							<div class="other-msg">
								<ul>
									<li>成人早￥100/份</li>
									<li>儿童早￥80/份</li>
									<li class="open-detail-msg">+</li>
								</ul>
							</div>
						</li>
						<li>
							<span>加床信息</span>
							<div class="other-msg">
								<ul>
									<li>成人床￥200/张</li>
									<li>儿童床￥100/张</li>
									<li class="open-detail-msg">+</li>
								</ul>
							</div>
						</li>
						<li>
							<span>加宽带</span>
							<div class="other-msg">
								<ul>
									<li>20/间/晚</li>
									<li class="open-detail-msg">+</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-right"></div>
			</div>
		</div>
	</div>