// 以下是 “国内酒店”、“国际酒店” 特制的一些样式
.ads-inner-wrap.hotel-recommands{
    height: 440px;

    .ad-one-wrap{
        &:last-child{
            position: absolute;
            right: 0;
            height: 440px;

            >div{
                display: none;
            }
        }
    }
}