<div class="hotel-item" add-id="<%= addId %>">
  <div class="hotel-item-left fl">
    <%= startDate + addType %>
    <i class="add-num"><%= addNum %></i>份
  </div>
  <div class="hotel-item-right fr">
    ￥
    <i class="line-total">
      <%= addPrice * addNum %>
      </i>
    </div>
</div>;
