
//覆盖图片轮播分页按钮的样式
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    width: 1180px - 700px;
    margin: -30px auto 0;
    padding-left: 700px;
    position: relative;
}

.banner-wrap{
    overflow: hidden;

    @at-root .swiper-container {
        height: 376px;
    }
}