
<!--banner部分-->
<section class="banner-wrap" id="bannerWrap"></section>

<!--搜索框部分-->
<section class="search-outer" id="searchWrap"></section>

<div class="ads-main-outer">
    <!--当季热销-->
    <section id="hotSalesWrap"></section>

    <!--国内酒店、国际酒店-->
    <section class="ads-wrap" id="hotelRecommands"></section>
    
    <!--景点门票-->
    <section class="ads-wrap" id="ticketWrap"></section>

    <!--促销特卖-->
    <section class="ads-wrap" id="promotion"></section>

</div>
