
<!--国内酒店、国际酒店（酒店推荐）-->

<div class="ads-wrap">

    <!--顶部tab切换-->
    <div class="ads-title-wrap">
        <div class="ads-title-bline"></div>
        <div class="ads-title-item current" data-for="internal">国内酒店<i></i></div>
        <div class="ads-title-item" data-for="external">国际酒店<i></i></div>
        <div class="ads-more-wrap">
            <div>更多</div>
            <div class="ads-more-icon"></div>
        </div>
    </div>

    <!--国内酒店-->
    <div class="toggle-show" data-target="internal">
        <div class="ads-sub-title-wrap">
            <div class="ads-sub-title-item current">深圳</div>
            <div class="ads-sub-title-item">珠海</div>
            <div class="ads-sub-title-item">香港</div>
            <div class="ads-sub-title-item">东莞</div>
            <div class="ads-sub-title-item">上海</div>
            <div class="ads-sub-title-item">中山</div>
        </div>

        <div id="internalRecommandsWrap"></div>
    </div>

    <!--国际酒店-->
    <div class="toggle-show hidden" data-target="external">
        
        <div class="ads-sub-title-wrap">0</div>

        <div id="externalRecommandsWrap"></div>
    </div>
</div>