
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="f-i-block">
            <div class="inner">
                <div class="title">下单常见问题</div>
                <div class="link-item">使用支付宝支付</div>
                <div class="link-item">新系统如何使用</div>
                <div class="link-item">新老系统切换</div>
            </div>
        </div>
        <div class="f-i-block">
            <div class="inner">
                <div class="title">加盟合作</div>
                <div class="link-item">广告业务</div>
                <div class="link-item">酒店加盟</div>
                <div class="link-item">代理商加盟</div>
            </div>
        </div>
        <div class="f-i-block">
            <div class="inner">
                <div class="title">关于我们</div>
                <div class="link-item">关于捷旅</div>
                <div class="link-item">服务说明</div>
                <div class="link-item">诚聘英才</div>
            </div>
        </div>
        <div class="f-i-block">
            <div class="inner">
                <div class="title">捷旅官方微信</div>
                <div class="sprites erweima"></div>
            </div>
        </div>
    </div>
    <div class="gongshang-outer">
        <div class="gongshang-inner"><script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=6768cf73-7a38-463b-a3d3-83bfb2959cf9&width=15&height=21&type=1" type="text/javascript" charset="utf-8"></script>
        	<a href="http://szcert.ebs.org.cn/6768cf73-7a38-463b-a3d3-83bfb2959cf9">粤ICP备11071174号</a> Copyright © 2001-2017 版权所有
        </div>
    </div>
</div>


