
<div class="index-top">
    <div class="sprites fzg_logo"></div>

    <div class="contact-us-wrap">
        <div class="contact-item">
            <div class="contact-icon">
                <div class="sprites weixinban"></div>
                <div class="test-one">test</div>
            </div>
            <div class="contact-text">
                <div>微信版</div>
                <div>方便、快捷</div>
            </div>
        </div>
        <div class="contact-item">
            <div class="contact-icon">
                <div class="sprites dianhua"></div>
            </div>
            <div class="contact-text">
                <div class="gray-9">7 x 24客服电话</div>
                <div class="darken-blue">4009-333-222</div>
            </div>
        </div>
    </div>
</div>

<div class="fzg_nav">
    <div class="fzg-nav-inner">
        <div class="fzg-nav-wrap">
            <ul class="fzg-nav-ul">
                <li class="current">
					<a class="" data-src=""><span class="nav-span">首页</span></a>
				</li>
                <li>
					<a class="" data-src=""><span class="nav-span">国内酒店</span></a>
				</li>
                <li>
					<a class="" data-src=""><span class="nav-span">国际酒店</span></a>
				</li>
                <li class="">
					<a class="" data-src=""><span class="nav-span">门票</span></a>
				</li>
                <li>
					<a class="" data-src=""><span class="nav-span">酒店集团</span></a>
				</li>
                <li class="last-one">
					<a class="" data-src=""><span class="nav-span">节日促销</span></a>
				</li>
            </ul>
        </div>
    
        <div class="fzg-login-reg">
            <div><a href="#">登录</a></div>
            <div class="last-one"><a href="#">注册</a></div>
        </div>
    </div>
</div>